footer{
	    color: $naranja;
	    text-align: center;
        background-color: $negro;
        ul{
            display: flex;
            flex-direction: column;	
            margin: 0 auto;
            @media all and (min-width: 768px) {
                border:none;
            }
            @media all and (min-width: 1024px){
                flex-direction:row;
	            border:none;
            }
        }
        li{
            list-style-type: none;
            margin: 10px 30px;
            @media all and (min-width: 768px){
                margin: 10px 25px;
            }
            @media all and (min-width: 1024px){
                margin:10px 30px;  
            }
            // a{
            //     color:$negro;
            // }
        }
        p{
            color:$gris;
            margin: 0 auto;
            font-size: 12px;
            padding:5px;
            border-top: 1px solid $blanco;
            @media all and (min-width:768px){
                font-size: 15px;
            }
        }
        img{
            width: 30px;
            padding-top: 5px;  
            padding-bottom: 5px;
            filter: invert(1);
            }  
            img:hover{
                border-bottom: 0.5px groove $negro;
            }
} //Cierre del Footer

.redesSociales{
	padding: 10px;
    background-color: $negro;
    @media all and (min-width: 768px){
        display: flex;
        padding: 20px;
        justify-content:space-around;
        align-items:center;
    }
    .redesSociales__iconos{
        display: flex;
        flex-direction: row;
        margin: 0 20px 5px 20px;
        justify-content:center;
        @media all and (min-width: 1024px){
          margin: 0 30px;  
        }
    }
}