// GLOBALES
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1,h2,h3,h4,h5{
	font-family:$fuente-principal;
	text-align: center;
	margin: 0;
}
h1,h2{
	font-size:30px;
}

h3{
	font-size: 25px;
}
h4{
	font-size: 15px;
}
p{
	font-family:$fuente-principal;
	font-weight: lighter;
	font-size: 20px;
}
a{
	text-decoration: none;
	font-size: 15px;
	color:$blanco;
	font-family:$fuente-principal;
}
a:hover{
	text-decoration: none;
	color:currentColor;
}
span{
	font-family:$fuente-principal;
	font-weight: bold;
}
.p-top{
	padding-top: 5rem;
}
.p-top-4{
	padding-top: 4rem;
}
iframe{
	margin:30px 20px;
	filter: drop-shadow(6px 6px 3px $negro);
}

	/*icono whatsapp fixed*/
.whatsapp{
	position: fixed;
	width: 60px;
	right: 10px;
	bottom: 10px;
 	filter: drop-shadow(4px 4px 5px $negro);
 	z-index: 10;
}	

/*------- ANIMACIONES------ */

@keyframes menu {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
header{
	z-index: 20;
	background-color:$gris; 	
	position: fixed;
	right: 0;
	left:0;
}
.logo{
	margin: 10px;
	max-width: 140px;
	@media all and (min-width:768px){
		max-width: 160px;
	}
}
.boton{
	padding:5px 10px;
	font-family: $fuente-principal;
	width: auto;
	background-color: $negro;
	border: solid 1px $negro;
	border-radius: 5px;
	color: $naranja;
}
.boton:hover{
	color:$naranja-claro;
	background-color: $gris_oscuro;
}