//index
#header-home{
	background:$celeste;
	@media all and (min-width:1000px){
		background: transparent;
	}
}

.parallax{
	@include background(100vh, url(../media/maquina-jcb-mobile.jpg), url(../media/maquina-jcb.jpg), 100vh);
	background-position: left;
}
.parallax-mapa{
	@include background(450px, url(../media/oficina-mobile.jpg), url(../media/oficina.jpg), 500px);
	width: 100%;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
}

.parallax-titulo{
	font-size: 25px;
	font-weight: 700;
	padding: 20px;
	color: $naranja;
	background-color: $negro;
	text-transform: initial;
}
    
    .mapaIframe{
        width: 300px;
        height: 350px;  
		padding: 0.3rem;
		background-color: $gris;
		border-radius: 10px;
        @media all and (min-width: 480px){
            width: 350px;
            height: 400px; 
         }
		 @media all and (min-width:768px){
			 width: 500px;
			 height: 400px;
		 }
    }
    /*-------Acá termina Mobile First------*/
        
        /*------480px-------*/
    