//CARROUSEL

.servicio-gas{
	@include background(86vh, url(../media/gas-mobile.jpg), url(../media/gas.jpg), 90vh )	
}
.servicio-agua{
	@include background(86vh, url(../media/agua-mobile.jpg), url(../media/agua.jpg), 90vh )	
}
.servicio-cloacas{
	@include background(86vh, url(../media/cloacas-mobile.jpg), url(../media/cloacas.jpg), 90vh )	
}
.servicio-suelos{
	@include background(86vh, url(../media/suelos-mobile.jpg), url(../media/suelos.jpg), 90vh )	
}

// SECCION SERVICIOS Y MEDIOS DE PAGO

.servicios{
	background-color: $naranja-claro;
	h1,h2{
		font-size: 20px;
		@media all and(min-width:768px){
			font-size: 30px;
		}
	}
	p{
		font-size: 16px;
		@media all and(min-width:768px){
			font-size: 18px;
		}
	}
	.servicios-detalle{
		border-bottom: solid 1px $blanco;
	}
	.iconos-pagos{
		width: 120px;
	}
}

