//PALETA DE COLORES
$naranja: #d8511e;
$naranja-claro: #ff672d;
$gris: #ececec;
$gris_oscuro: #1f1c1c;
$celeste: #e5ecf4;
$blanco: #fff;
$negro: #000;
$negro-transparente:rgba(0, 0, 0, 0.9);

// FUENTES
$fuente-principal: 'Farro', sans-serif;

// MIXINS

@mixin background($height, $img, $imgResponsive, $heightResponsive){
	height: $height;
	background-image:($img);
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	@media all and(min-width:768px){
		background-image:($imgResponsive);
		height: $heightResponsive;
	}
}

// IMPORTS

@import url(../Bootstrap/css/bootstrap.min.css);
@import "globales";
@import "bootstrap";
@import "home";
@import "footer";
@import "servicios";
@import "sobre-nosotros";
@import "contacto";
@import "animaciones";

