
		/*------MOBILE FIRST------*/
	/*Header y barra de navegación*/

header{
	z-index: 10;
	background-color:#ececec; 	
	position: fixed;
	right: 0;
	left:0;
	
	
}
.logo{
	max-width: 150px;
	margin:0 auto;
}

.encabezado{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
}

		/*------768px----*/

@media all and (min-width: 768px) {


.encabezado{
	padding: 0;
}

.oficinaVirtual{
	display: inherit;
}
.direccion{
	display: flex;
	flex-direction: column;
	justify-content: center;
}	

	/*Pagina principal*/

.mapa{
	background-position: bottom left;
}

.ubicacion{
	display: flex;
	align-items:center;
	justify-content: center;
}

	/*Paginas*/

.contenedorPages{
	padding-top: 120px;
	min-height: 100vh;
	background-image: url(../media/maquina-jcb.jpg);
	background-position: center;
}
.contenedorOficinaVirtual{
	padding-top: 100px;
}
.grilla-ov p{
	font-size: 45px;
	max-width: 500px;
}

.mapaIframe{
	width: 500px;
	height: 400px; 
}
 /* } Acá cierra el Media Querie 1024px */
}